<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'neta.title.long' | translate }}</h1>
      <div class="actions">
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary"
          routerLink="../feature-list">
          {{ 'neta.menu.features' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples"
          [ngClass]="routeAnimationsElements">
          {{ 'neta.menu.examples' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>